body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 100%;
    max-width: 500px;
}

#preview img {
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
}
